modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SHOPIFY_STORE_DOMAIN = "1sv11x-tg.myshopify.com"
SHOPIFY_STOREFRONT_TOKEN = "778d708ff856056cce4e553b4c5f529f"
SHOPIFY_STOREFRONT_AUTH_MODE = "public"
